

/* ==========================================================================
   SOCS's custom styles
   ========================================================================== */

#divMessages{
    border-style:groove;
    border-width:2px;
    border-radius: 5px;
}

