

/* ==========================================================================
   SOCS's custom styles
   ========================================================================== */

#divMessages{
    border-style:groove;
    border-width:2px;
    border-radius: 5px;
}

div:hover#hover_link{
    color: #0088cc;
    text-decoration: underline;
    cursor: pointer;
}

#navbar{
    opacity: 0.9;
}

.socs-content{
    background-color: white;
    box-shadow: 5px 5px 7px #444;
    border: dotted 1px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    opacity: 0.9;
    margin-bottom: 5px;
}